<title>Bookmark Manager | Links</title>

<ul id="links">

	<%= Link.map { |link| "<li><a title='#{link.title}' href='http://#{link.url}' target='_blank'>#{link.title}</a> #{link.tags.map(&:name).join(" ")}</li>" }.join("\n") %>

</ul>
