
<form action="/links" method="post">
	<label for='title'>
	Title:
	<input type="text" value="" name="title">
	</label>
	<label for="url">
	Url:
	<input type="text" value="" name="url">
	</label>
	<label for="tags">
	Tags:
	<input type="text" value="" name="tags">
	</label>
	<input type="submit" value="Create link">
</form>
