<html>
  <h1>Sign Up</h1>
  <h2> Please fill in the form below </h2>
    <form action = "/users" method = "post">
    	<label for="email">
    		E-Mail:
    			<input type = 'text' name = 'email' placeholder = 'Enter your Email' value='<%= @user.email %>'>
    	</label>
    	<label for="password">
    		Password:
    			<input type = 'password' name = 'password' placeholder = 'Enter your password'>
    	</label>
      <label for="password_confirmation">
    		Confirm password:
    			<input type = 'password' name = 'password_confirmation' placeholder = 'Re-enter your password'>
    	</label>
    	<input type = "submit" value = 'Sign Up'>
    </form>
</html>
